@font-face {
    font-family: inter;
    src: url(./inter.ttf);
}
body {
    background-image: url('./bg-dark.svg');
    background-color: black;
   color: white;
   font-size: 15px;
   font-family: inter, sans-serif;
    background-size: 114.2%;
   background-position-x:-105px ;
   background-position-y: -94px;
    padding: 0px 175px
   
}
.logo{
    height: 24px;
    width: 104px;

   }
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 0px;
    
}
.navbuttons{
    display: flex;
    font-size: 15px;
    line-height: 1.5;
    gap: 28px;
    padding: 4px 12px;
    line-height: 22.5px;
    height: 32px;
    tab-size: 4px;
    
}
.liner{
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    padding: 6px ;
    border-radius: 9999px;
    span{
        background-color:#0c8c5e ;
        padding: 5px;
        border-radius: 9999px;

    }
}
a{
    color: inherit;
    text-decoration: none;
    font-family: inherit;
}
button{
    padding: 10px 18px;
    font-family: inherit;
    border-radius: 999px;
}
#contactsales{
display: inline-flex;
align-items: center;
justify-content: center;
white-space: nowrap;
border-radius: 9999px;
font-weight: 500;
background-color: #f1f5f9;
color: #0f172a;
font-size: 15px;
padding: 4.5px 1rem;
}
#Start{
display: inline-flex;
align-items: center;
justify-content: center;
white-space: nowrap;
border-radius: 9999px;
font-weight: 500;
box-shadow: 0 1px 2px rgba(0,0,0,0.05);
background-color: #000000;
color: #ffffff;
border: 1px solid #000000;
font-size: 15px;
padding: 4.5px 1rem;

/* Hover */
background-color: rgba(0, 0, 0, 0.85);
}

